#Experiencia_map {
    display: grid;
    grid-template-columns: auto;
    gap: 3vw;
    border-left: 0.2vw solid white;
    padding: 4vh 0 0 0.5vh;

}


#trabajo {
    grid-template-columns: max-content 20vw 47vw;
    padding-bottom: 1.5vh;
    gap: 1.5vw;
    display: grid;
    margin-left: -0.6vw;

    #indicador_mapa {
        background-color: #83b8e4;
        display: inline-block;
        border-radius: 50%;
        aspect-ratio: 1/1;
        margin-top: 0.7vh;
        height: auto;
        width: 0.75vw;
    }
}

#titulo_trabajo {
    grid-template-columns: max-content 30vw auto;
    align-items: end;
    display: grid;
    gap: 1vh 1vw;

    h2 {
        font-size: clamp(0.7em, 1.3vw, 2em);
        grid-area: 1 / span 3;
        letter-spacing: 1.1px;
        line-height: 1em;
        color: #83b8e4;
    }


    h3 {
        font-size: clamp(0.6em, 1.1vw, 1.8em);
        grid-area: 2 / span 1;
    }


    h4 {
        font-size: clamp(0.45em, 0.79vw, 1.8em);
        padding-bottom: 0.1vh;
        grid-area: 2 / span 1;
        color: #fac4c4;
        padding: auto;
    }

}


@media (max-width:1130px) {
    #trabajo {
        grid-template-columns: 0.75vw 67vw;
    }

    #titulo_trabajo {
        grid-area: 1 /span 3;
    }

    #descripcion_trabajo {
        grid-area: 2 / 2 / 2 / span 3;
    }
}

@media (max-width:735px) {
    #trabajo {
        margin-left: -1vw;
    }
    #indicador_mapa {
        width: 0.4em !important;
        margin-top: 1vh;
    }
}