.contenedor-portfolio{
    div{
        display: flex;
        margin: 3em;
        border: 2px solid white;
        border-radius: 20px;
        img{
            width: 50%;
            height: auto;
            border-radius: 20px 0 0 20px;
        }
        p{
            font-size: 2.3em;
            display: block;
            margin: auto;
            padding: 1.5em;
            
            a{
                display: inline-flex;
            }
        }
    }
}

@media(max-width: 1934px){
    .contenedor-portfolio{
        div{
            p{
                font-size: 1.4em;
            }
        } 
    }
}

@media(max-width: 1024px){
    .contenedor-portfolio{
        div{
            p{
                font-size: 1em;
            }
        } 
    }
}

@media(max-width: 768px){
    .contenedor-portfolio{
        div{
            p{
                font-size: 0.7em;
            }
        } 
    }
}

@media(max-width: 430px){
    .contenedor-portfolio{
        div{
            flex-direction: column;
            margin: 1em;
            img{
                width: 100%;
                border-radius: 20px 20px 0 0;
            }
            p{
                font-size: 1.2em;
                text-align: center;
            }
        } 
    }
}
